<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<form th:action="@{/add}" th:method="post" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{username}" id="name"/><br><br>
    <label for="weight">Пароль: </label>
    <input type="text" th:field="*{password}" id="weight"/><br><br>
    <input type="submit" value="Добавить"/>
</form>
</body>
</html>